Reporting Tools/SubscriptionManager/bin/
Reporting Tools/SubscriptionManager/obj/
Reporting Tools/SubscriptionManager/Web References/

Reporting Tools/RenderReport/bin/
Reporting Tools/RenderReport/obj/
Reporting Tools/RenderReport/Web References/

*.suo
*.user