<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RenderReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RenderReport.Properties.Settings>
            <setting name="RenderReport_ReportService_ReportingService" serializeAs="String">
                <value>http://hydrogen/ReportServer/ReportService.asmx</value>
            </setting>
        </RenderReport.Properties.Settings>
    </applicationSettings>
</configuration>